td{
    border: solid black 1px;
    width: 100px;
    height: 100px;
}

tr:nth-child(odd)>td:nth-child(even),tr:nth-child(even)>td:nth-child(odd){
    background-color: black;
}
table{
    border-collapse: collapse;
    margin: auto;
}
td:hover{
    background-color: yellow;
}
td:active{
    background-color: red;
}
tr:nth-child(odd)>td:nth-child(even):hover,tr:nth-child(even)>td:nth-child(odd):hover{
    background-color: yellow;
}
tr:nth-child(odd)>td:nth-child(even):active,tr:nth-child(even)>td:nth-child(odd):active{
    background-color: red;
}