div{
    border: solid black 1px;
    text-align: center;
    padding: 1em;
}
div div{
    background-color: green;
    border: solid red 2px;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
}
#m80{
    width: 80%;
    margin: auto;
}
#l48{
    width: 48%;
    margin-left: auto;
}
#r48{
    width: 48%;
    margin-right: auto;
}
#m60{
    width: 60%;
    margin: auto;
}