body{
    height: 2000px;
}
p{
    padding-top: 40%;
    font-size: larger;
}
.quadrate{
    width: 500px;
    height: 500px;
    border: red solid 2px;
}
#eins:hover,#zwei:hover,#drei:hover,#vier:hover{
    background-color: blue;
    z-index: 500;
}

#eins {
    z-index: 1;
    position: relative;
    /*bottom: 50px;*/
    left: 50px;
    width: 240px;
    height: 240px;
    border: black solid 2px;
    float: left;
    margin: 3px;
    background-color: green;
    text-align: center;

}
#zwei {
    z-index: 2;
    position: relative;
    bottom: -50px;
    left: -50px;
    width: 240px;
    height: 240px;
    border: black solid 2px;
    float: left;
    margin: 3px;
    text-align: center;
    background-color: green;
}
#drei {
    z-index: 3;
    position: relative;
    bottom: 50px;
    left: 60px;
    width: 240px;
    height: 240px;
    border: black solid 2px;
    float: left;
    margin: 3px;
    text-align: center;
    background-color: green;
}
#vier {
    z-index: 4;
    position: relative;
    /*bottom: -50px;*/
    left: -60px;
    width: 240px;
    height: 240px;
    float: left;
    border: black solid 2px;
    margin: 3px;
    text-align: center;
    background-color: green;

}