div{
    border: solid black 1px;
    text-align: center;
    padding: 1%;
    margin: 15px;
}
p{
    text-align: justify;
    overflow: hidden;

}
div div{
    background-color: green;
    border: solid red 2px;
    border-radius: 10px;
    padding: 5px;
}
img{
    width: 5%;
}
#links{
    float: left;
}
#rechts{
    float: right;
}

#m80{
    width: 80%;
    margin: 0 auto;

}
.b48{
    width: 48%;
    /*display: inline-block;*/
    float: right;
    margin: 0.1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#m60{
    width: 60%;
    margin: 0 auto;
    clear: both;

}